.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Nanum Gothic Coding";
}

.ti {
  font-size: 10rem;
  color: chocolate;
}

.reveal {
  a {
    :hover {
      color: cadetblue;
    }
    color: cadetblue;
  }
  li {
    font-size: 2rem;
  }
  h1 {
    color: chocolate;
    font-size: 4rem;
  }
  h2 {
    color: darksalmon;
    font-size: 3rem;
  }
  q {
    font-size: 1.5rem;
  }
}
// slide 2/2
.save-illustration {
  img {
    width: 35rem;
  }
}

.illustration-bg {
  img {
    width: 55rem;
  }
}
